@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul) {

/*
 _____________________________________________________________________
|                  |                                                  |
|          Title:  |  Firefox SimpleU Edition CSS File Based          |
|         Author:  |  -=LeoKwok=-                                     |
|Css: https://raw.github.com/kwoktree/FireFoxU/master/userChrome.css  |
|   Last Updated:  |  20:51 2013/9/4                                  |
|        Version:  |  1.8.0.11                                        |
|__________________|__________________________________________________|

*/

/*AdBlockPlus Menu Hide*/
#abp-frame-menuitem,
#abp-image-menuitem,
#abp-media-menuitem,
#abp-menuitem,
#abp-object-menuitem,
#abp-removeWhitelist-menuitem,
#tooldonate,
.abp-contextmenuitem{
display: none !important;
	}

/*附加组件栏调整*/	
#addonbar-closebutton,#addon-bar dropmarker {
display:none!important;
}
#status-bar > * {height:24px!important;}
#navigator-toolbox:not([customizing]) ~ #browser-bottombox {
position:fixed;
bottom:0;
right:0;
}
#main-window[sizemode="maximized"] #addon-bar > * {
left:16px!important;
}
#main-window[sizemode="fullscreen"] #addon-bar > * {
left:16px!important;
}

/*窗口化时标签置顶*/
#main-window[sizemode="normal"][tabsontop=true] #TabsToolbar {
  padding:0px 97px 0px 0px !important;  
  margin-top: -23px !important; }

/*地址栏图标位置调整*/
#star-button{-moz-box-ordinal-group:0 !important;}
#refererChangerTogglePanel,#uac_statusbar_panel{-moz-box-ordinal-group: 1 !important;}
#ucjsPermission_Toolmenu,#urlfilter-icon{-moz-box-ordinal-group: 2 !important;}
#UserScriptLoader-icon{-moz-box-ordinal-group: 3 !important;}
#WebScreenShot dropmarker{display: none !important;}

/*标签页计数*/
#main-window { counter-reset: tabs;}
.tabbrowser-tab:not(:-moz-any([pinned],[concealed])){
    counter-increment: tabs;
}
#alltabs-button {visibility: visible!important;}
#alltabs-button:after { 
    content: counter(tabs);
    display: -moz-box;}
#alltabs-button > :-moz-any(label, image) { 
    display: none;}
}

/*标签样式css*/
.tabbrowser-tab[selected="true"]{
     background:#62B76E !important;
 }/* 选中标签为青草色 */
.tabbrowser-tab[busy] {color: #009DFF !important;}/* 正在加载标签 */
.tabbrowser-tab[pending] {color: gray !important;}/* 未加载标签 */
.tabbrowser-tab[unread] {color: red !important;}/* 未读标签 */

/*扩展管理器显示地址栏*/
#main-window[disablechrome] #navigator-toolbox[tabsontop="true"] #nav-bar:not([collapsed="true"]) {
visibility: visible!important;}

/*隐藏左下角网页载入信息*/
#statusbar-display[type*="status"] {display:none !important;}

/*隐藏书签图标后面的 “书签” 按钮文字*/
#bookmarks-menu-button .toolbarbutton-text { display:none !important; } 

/*Firefox左上角换文字,调宽度,去小三角*/
#appmenu-button .button-box .box-inherit .button-text {
display: none;
}
#appmenu-button .button-box .box-inherit:before {
content: "SimpleU";
}
#appmenu-button dropmarker {display: none !important;}

/*调整标签宽度*/
.tabbrowser-tab:not([pinned])[fadein]
{ max-width: 160px !important;  min-width: 120px !important; }

/*使书签工具栏图标变得紧凑*/
#personal-bookmarks
{padding: 0px 0px 0px 0px !important;}

/*去掉标题栏顶部1px*/
#tabbrowser-tabs
{margin-top:-1px!important;}

/*Https协议地址栏变色*/
#urlbar[level="low"]{
  background-color: #FFFFB7 !important;
}
#urlbar[level="high"]{
  background-color: #DDF9CC !important;
}
#urlbar[level="broken"]{
  background-color: #F7DFDF !important;
}

/*右侧工具间距调整*/
#TabsToolbar .toolbarbutton-1{ 
     margin: 0 5px !important;
 }

/*去地址栏边框color: #1507D5 !important;*/
#navigator-toolbox[iconsize="small"] #urlbar {
background: none !important;
border: none !important;
margin: 0 !important;
box-shadow: none !important;
}

/*粘贴并转到置顶：地址栏右键*/
.textbox-contextmenu menuitem:not([anonid="paste-and-go"]),
.textbox-contextmenu menuseparator {
-moz-box-ordinal-group:3 !important;
}
menuitem[anonid="paste-and-go"] {
-moz-box-ordinal-group:1 !important;
}
.urlbar-textbox-container menuitem[cmd="cmd_paste"] {
-moz-box-ordinal-group: 2 !important }

/*粘贴并转到置顶：搜索栏右键*/
#searchbar menuitem:not([anonid="paste-and-search"]),
#searchbar menuseparator {
-moz-box-ordinal-group:3 !important;
}
#searchbar menuitem[anonid="paste-and-search"] {
-moz-box-ordinal-group:1 !important;
}
#searchbar menuitem[cmd="cmd_paste"] {
-moz-box-ordinal-group:2 !important;
}

/*---隐藏页面右键菜单---*/ 
#context-forward, /*前进*/
#context-back, /*后退*/
#context-delete, /*停止*/
#context-savepage,
#context-viewsource,
#context-viewinfo,
#context-viewbgimage,
#context-openlink, /*在新窗口打开链接*/
#context-selectall,/*全选*/
#spell-check-enabled, /*拼写检查*/
#spell-separator, /*拼写检查分割线*/
#context-sep-viewbgimage,    /*分割线*/
#context-sep-viewsource /*分割线*/
{display: none !important;}

